:root {
  --white: #ffffff;
  --light-gray: #f9f9f9;
  --gray: #888;
  --light-red: #fd6060;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #213547;
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a.link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a.link:hover {
  color: #262ecb;
}
